@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    position: relative;
}

div#iphone {
    width: 311px;
    height: 627px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center center;
}
iframe {
    width: 267px;
    height: 471px;
    position: absolute;
    left: 22px;
    top: 80px;
}

nav > a > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
nav > a {
    display: block;
    text-align: right;
    padding: 10px;
}
nav > a >img:hover {    
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.74);
    border: 2px solid rgba(255, 255, 255, 0.671);
    transition: translate .5s, border 1s;
}